.stekjes_detail aside {
    position: absolute;
    right: 10rem;
    bottom: -10rem;
    color: black;
    z-index: 0;
    display: flex;
    flex-direction: row;
    animation: appearStekje 300ms ease-out 800ms forwards;
}

.stekjes_detail .cartoon{
    width: 10rem;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    position: absolute;
    rotate: 8deg;
}
.stekjes_detail .weather-bubble {
    display: flex;
    min-height: 4rem;
    align-items: center;
    justify-content: center;
}

.stekjes_detail .weather-bubble:after {
    content: '';
    position: absolute;
    right: -8px;
    bottom: 15%;
    height: 20px;
    width: 20px;
    background: inherit;
    border-radius: 2px;
    z-index: -1;
}

.stekjes_detail .home_page {
    display: inline-block;
}

aside {
    position: absolute;
    right: 0;
    color: black;
    z-index: 999;
}

.weather-bubble {
    position: relative;
    padding: .5rem;
    background-color: white;
    max-width: 12rem;
    border-radius: 0.5rem;
    margin-bottom: .75rem;
    filter: drop-shadow(1px 0px 2px rgb(0 0 0 / .25));
    opacity: 0; 
    transform: scale(0.5);
    animation: popUp 0.5s ease forwards;
    animation-delay: 1400ms; 
    text-align: center;
}

.weather-bubble:before {
    content: '🌸 Harry';
    font-style: italic;
    font-weight: 600;
    color: pink;
    position: absolute;
    top: -1.25rem;
    left: 0.5rem;
    font-size: .8rem;
}

.weather-bubble:after {
    content: '';
    position: absolute;
    bottom: -8px;
    right: 40px;
    height: 20px;
    width: 20px;
    background: inherit;
    transform: rotate(45deg);
    border-radius: 2px;
    z-index: -1;
}

.weather-bubble blockquote {
    font-style: italic;
    border-left: 4px solid rgba(255, 255, 255, 0.6);

}

.weather-bubble blockquote span {
    display: none;
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.hero-slider .cartoon{
    width: 10rem;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
    position: absolute;
    rotate: -40deg;
    right: -9rem;
    animation: appear 300ms ease-in-out 800ms forwards;
}

@keyframes appear {
    0% {
        rotate: -40deg ;
        right: -9rem;
    }
    100% {
        rotate: -18deg ;
        right: -3rem;
    }
}

@keyframes appearStekje {
    0% {
        bottom: -10rem;
    }
    100% {
        bottom: 0.5rem;
    }
}