@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
 */

@font-face {
	font-family: "Poppins-Black";
	src: local("Poppins Black"), local("Poppins-Black"),
		url("/fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
	font-family: "Poppins-Bold";
	src: local("Poppins Bold"), local("Poppins-Bold"),
		url("/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
	font-family: "Poppins-Medium";
	src: local("Poppins Medium"), local("Poppins-Medium"),
		url("/fonts/Poppins/Poppins-Medium.ttf");
}

html {
	font-family: 'Mulish', sans-serif;
    line-height: 1.6;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color-green: #4e7141;
	--main-color-beige: #f9e9c2;
	--main-color-orange: #ff8d06;
	--main-color-brown: #491b02;

	--text-color-white: #fff;
	--text-color-black: #000;

	--header-font: 'Poppins-Black', sans-serif;
	--sub-header-font: 'Poppins-Bold', sans-serif;
	--paragraph-font: 'Poppins-Medium', sans-serif;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		scale: 1.6;
	}
}

@keyframes slide-to-left {
	to {
		scale: 0.9;
	}
}

::view-transition-old(root) {
	animation:
		90ms cubic-bezier(0.4, 0, 1, 1) 90ms both fade-out,
		1000ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
	animation:
		210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		1000ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
