@font-face {
	font-family: 'Poppins-Black';
	src: local('Poppins Black'), local('Poppins-Black'), url('/fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
	font-family: 'Poppins-Bold';
	src: local('Poppins Bold'), local('Poppins-Bold'), url('/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
	font-family: 'Poppins-Medium';
	src: local('Poppins Medium'), local('Poppins-Medium'), url('/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
	font-family: 'Poppins-Regular';
	src: local('Poppins Regular'), local('Poppins-Regular'), url('/fonts/Poppins/Poppins-Regular.ttf');
}

html {
	font-family: 'Mulish', sans-serif;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-color-green: #4e7141;
	--main-color-beige: #f9e9c2;
	--main-color-orange: #ff8d06;
	--main-color-brown: #491b02;

	--card-color-orange: #ff9a41;
	--card-color-green: #3c593e;

	--text-color-white: #fff;
	--text-color-black: #000;

	--invalid-color-red: #ff0000;
	--invalid-input-background: #fff8f8;
	--valid-input-background: #edffed;
	--input-focus-color: #fafad2;
	--input-border-color: #b37400;
	--input-border-shadow: 0px 2px 4px hsl(32 37% 39% / 1);

	--header-font: 'Poppins-Black', sans-serif;
	--sub-header-font: 'Poppins-Bold', sans-serif;
	--paragraph-font: 'Poppins-Medium', sans-serif;
	--link-font: 'Poppins-Regular', sans-serif;

	--border-bigCard: 2em;
	--border-card: 1.0625em;

	--section-padding-y: 4rem;
	--section-padding-x: 7.5rem;

	--image-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

html {
	overflow-x: hidden;
}

.btn-gevel {
	outline: 1px solid red;
}

.btn-gevel {
	outline: 1px solid red;
}
